<footer>
<hr/>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <p class="foot_data">Last Update: December 2024 &nbsp;<br>License MIT,&nbsp;<a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons CC by" class="cc_logo" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a>&nbsp;and all others © Clinton Garwood
      </p>
      </div>
    <div class="col-sm-1"></div>
  </div>
<br/>
</div>
</footer>
