<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Grammar ai_open_says_me</title>

  <!-- 	Bootstrap Latest compiled and minified CSS Version 5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- External Style Sheets for Site -->
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

</head>
<body>
<a href="#main" class="skip_to_main">Skip To Content</a>
<div class="container-fluid jumbotron">
  <h1 class="header_titles">AI OPEN SAYS ME</h1>
  <p class="header_description">Spelling and Grammar Check</p>
</div>

<div>{% include('nav.html') %}</div>

<div class="row">
<div class="col-sm-1"></div> <!-- start/end right column -->
<div class="col-sm-10"> <!-- main content -->

<main id="main">
  <section id="page_links"><br>
    <article id="topic_links">
        <h2></h2>

        <div id="user_text_form">
          <form method="post" action="/improve">
            <label for="user_text" class="form-label">Spelling and Grammar Check</label><br>
            <input type="text" id="user_text" name="user_text" placeholder="Ask a Question Here"><br>
            <label for="upgrade_type" class="form-label">Select an Upgrade</label><br>
            <select id="upgrade_type" name="upgrade_type">
            <option value="fix spelling">Spelling</option> <!--Edit.create-->
            <option value="fix grammar">Grammar</option> <!--Embedding.create-->
            <option value="fix grammar, spelling and punctuation">Complete Upgrade</option>
                </select>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div> <!-- end feedback div -->

        <div id="feedback">
            <article>The response is: {{ dataToRender }}</article>
            <article>Your initial text was: {{ initial_text }}</article>
        </div> <!-- end feedback div -->

    </article>
    </section><!-- end  section -->


</main>
</div> <!-- end main column -->
</div> <!-- end main content row column -->
 <div class="col-sm-1"></div> <!-- start end left column -->

<div>{% include('footer.html') %}</div>

</body></html>
