
          <label for="llm_name" class="form-label">Select Model</label><br>
          <select id="llm_name" name="llm_name" class="form-select" aria-label="LLM Select List">
          <option value="anthropic">Anthropic</option><!-- AWS -->
          <option value="aws">AWS</option><!-- AWS -->
          <option value="azure">Azure</option><!-- Azure -->
          <option value="fireworks">Fireworks</option> <!-- Fireworks -->
          <option value="google">Google</option><!-- Google -->
          <option value="groq">Groq</option><!-- Groq -->
          <option value="huggingface">Hugging Face</option> <!-- Hugging Face -->
          <option value="mistral">Mistral</option><!-- Mistral -->
          <option value="Ollama">Ollama</option> <!-- Ollama -->
          <option value="openai" selected>OpenAI</option><!-- Open AI -->
          <option value="together">Together</option> <!-- Fireworks -->
          </select><br>
